.about-event {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20.5625rem 7.5rem;
}

.about-event-image {
    grid-column: 1/4;
    display: flex;
    align-items: center;
    position: relative;
}

.about-event-image > img {
position: absolute;
left: -10rem;
z-index: 1;
}
.about-event-description {
    grid-column: 4/7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.about-event-description > h2 {
    color: var(--Neutral-0, #121212);
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* Headline 2 */
    font-family: font/weight/Thin;
    font-size: var(--12, 3.75rem);
    font-style: normal;
    font-weight: 300;
    line-height: 4rem; /* 106.667% */
}

.about-event-description > p {
    color: var(--Neutral-0, #121212);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Headline 6 */
    font-family: font/weight/Thin;
    font-size: var(--5, 1.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: 2.0625rem; /* 165% */
    letter-spacing: 0.00938rem;
} 

@media screen and (max-width: 1279px) {
    .about-event {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 4rem;
        flex-shrink: 0;
        padding: 30rem 0rem 0rem 0rem;

    }

    .about-event-description {
        padding: 6rem 3rem 0rem 3rem;
    }


    .about-event-image > img {
        position: unset;
        left: -10rem;
        z-index: 10;
        margin-bottom: 3rem;
        height: 22.17806rem;
        aspect-ratio: 1;
        }
}

@media screen and (max-width: 768px) {

    .about-event {
      padding: 6rem 0rem 0rem 0rem;

    }

    .about-event-description {
        padding: 8rem 1.5rem 0rem 1.5rem;
    }

    .about-event-description > h2 {
        font-size: 2.5rem;
        line-height: 3rem; /* 120% */
    }
        
    .about-event-description > p {
        font-size: 1rem;
        line-height: var(--5-2, 1.375rem); /* 137.5% */
        letter-spacing: 0.00938rem;

    }

    .about-event-image > img {
        margin-bottom: 6rem;
        height: 17.5625rem;
        aspect-ratio: 1;
        }


}