.event-details {
    display: flex;
    padding: 6rem 5rem;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    border-radius: 1rem;
    background: var(--Primary-Blue, #001A52);
    box-shadow: 16px 16px 37.7px 0px rgba(0, 26, 82, 0.20);
}

.event-details > * {
    color: var(--Neutral-White, #FEFEFE);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;   
}