.footer-container {
    display: flex;
    padding-bottom: 4rem;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 1px solid var(--white);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
}

.footer-content > p {
    color: var(--Neutral-White, #FEFEFE);
    font-feature-settings: 'liga' off, 'clig' off;
    align-self: stretch;
    font-size: var(--8, 2rem);
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 150% */
}

.social-media-logos {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-left: 2rem;
}

.footer-menu > a {
    color: var(--Neutral-White, #FEFEFE);
    font-feature-settings: 'liga' off, 'clig' off;
    /* Headline 6 */
    font-size: var(--5, 1.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: 2.0625rem; /* 165% */
    letter-spacing: 0.00938rem;
}

.subfooter {
    display: flex;
    padding: 2rem 0rem;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
    justify-content: space-between;
    flex: 1 0 0;
}

.subfooter > p {
    color: var(--Neutral-White, #FEFEFE);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: var(--5, 1.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: 2.0625rem;
    letter-spacing: 0.00938rem;
}

@media screen and (max-width: 1279px) and (min-width: 769px) {

    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;
        width: 100%;
    }

    .footer-content > p {
        color: var(--Neutral-White, #FEFEFE);
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: var(--6, 1.5rem); /* 133.333% */
        letter-spacing: 0.03125rem;
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        margin-left: 0rem;
    }

    .subfooter {
        display: flex;
        padding: 2rem 0rem;
        align-items: center;
        gap: 2rem;
        align-self: stretch;
    }

    .subfooter > p {
        color: var(--Neutral-White, #FEFEFE);
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: var(--5, 1.25rem);
        font-style: normal;
        font-weight: 400;
        line-height: 2.0625rem; /* 165% */
        letter-spacing: 0.00938rem;
    }
                
}

@media screen and (max-width: 768px) {

    .footer-container {
        display: flex;
        padding-bottom: 4rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;
        align-self: stretch;
    }

    .footer-content > p {
        color: var(--Neutral-White, #FEFEFE);
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: var(--8, 2rem); /* 133.333% */
    }

    .footer-menu {
        margin-left: 0rem;

    }

    .subfooter {
        flex-direction: column;
        align-items: start;
        gap: 2rem;
        align-self: stretch;
    }
}