.form-label {
  color: var(--Primary-Blue, #001a52);
  font-feature-settings: "liga" off, "clig" off;
  /* Headline 6 */
  font-family: font/weight/Thin;
  font-size: var(--5, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% */
  letter-spacing: 0.15px;
}

.form-input {
  display: flex;
  min-width: 150px;
  width: 100%;
  padding: 28px 52px 28px 40px;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: 100px;
  border: 2px solid var(--Neutral-40);
}

.form-input::placeholder {
  color: var(--Neutral-40, #6c6c6c);
  font-feature-settings: "liga" off, "clig" off;
  /* Headline 6 */
  font-family: font/weight/Thin;
  font-size: var(--5, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% */
  letter-spacing: 0.15px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.link-icon {
  position: absolute;
  left: 52px;
  width: 24px;
  height: 24px;
}

.image-icon {
  position: absolute;
  right: 40px;
  width: 24px;
  height: 24px;
}
