/* Base styles */
nav {
    background-color: var(--white);
    display: flex;
    width: 100%;
    padding: 2rem 2rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.15);
    position: relative;
  }
  
  .liability {
    height: 8rem; 
    aspect-ratio: 1;
    object-fit: contain;
  }


  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar-collapse 
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
  }
  
  .navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex: 1 0 0;
  }
  
  .navbar-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1279px) {
    nav {
      padding: 1rem 2rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .hamburger {
      display: block;
      margin-left: auto;
    }
  
    .navbar-collapse {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        flex-direction: column;
        align-items: flex-end;
        gap: 1.5rem;
        flex-shrink: 0;
        position: absolute;
        top: 100%;
        right: 2rem;
        width: fit-content;
        background-color: var(--white); 
        display: flex;
      }
  
      .navbar-collapse.open {
        max-height: fit-content; 
        padding: 1rem 2rem;

      }
  
    .navbar-menu {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      padding: 1rem 0;
      border-bottom: 1px solid var(--Neutral-0, #121212);
    }

    .navbar-menu > * {
        border-bottom: 1px solid var(--Neutral-80, #E0E0E0);
    }

    .navbar-menu>*:last-child, .mobile-link-style:last-of-type {
        border-bottom: none;
    }

    .mobile-link-style {
        all: unset;
        display: flex;
        align-items: flex-start;   
        
        font: inherit;
        color: var(--your-link-color, #000);
        text-decoration: none;
        border: none;
        border-bottom: 1px solid var(--Neutral-80, #E0E0E0);
      }
  
    .navbar-buttons {
      flex-direction: column;
      align-items: flex-start;
      align-self: start;   
      gap: 1rem;
    }
  }
