.timer {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.timer > p {
    padding-top: 1rem;
}

.timer-box {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 4rem;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 1px solid var(--Neutral-80, #E0E0E0);
    background: var(--Blue-count-down-overlay, #1A3163);
}

.timer-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}